.section-1{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    width: 98.96vw;
    background-color: $color-5;
    padding: 10px;
} .section-1 h2{
    font-family: $bela;
    color: $color-2;
    margin-right: auto;
    margin-top: 1%;
    width: inherit;
}
.section-1 .img-s1{
    padding: 30px;
    margin-left: 50px;
}
.section-1 .img-s1 img{
    height: 300px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
.section-1 .descrip{
	width: 50vw;
    padding: 30px;
}
.section-1 .descrip p{
    font-family: $bela;
    font-style: italic;
    font-size: 17px;
}
.section-2{
    @extend .section-1;
    background-color: $color-5;
}
.section-3{
    background-color: $color-5;
    padding: 10px;
}
.section-3 h2{
    font-family: $bela;
    color: $color-2;
    margin-top: 1%;
}
.section-3 .card-body{
    font-family: $nunito;
    font-style: italic;
}
.section-3 .card img{
    height: 300px;
}
.section-3 .card img:hover{
    border: 1px solid black;
    filter: contrast(120%);
    cursor: pointer;
}
.section-4{
    background-color: $color-5;
    padding: 10px;
}
.section-4 h2{
    font-family: $bela;
    color: $color-2;
}
.section-4 .Ultimas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.section-4 .Ultimas .notis{
    width: 40%;
    border: 1px solid black;
    padding: 15px;
    font-family: $nunito;
}
.section-4 .Ultimas .notis span{
    display: none;
}
.section-4 .Ultimas .notis h5{
    font-size: 21px;
    font-weight: bolder;
}
.section-4 .Ultimas .notis p{
    font-style: italic;
}
