.section-1{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    width: 100vw;
    background-color: $color-2;
} .section-1 h2{
    font-family: $bela;
    color: $color-4;
    margin-right: auto;
    margin-top: 1%;
    width: inherit;
}
.section-1 .img-s1{
    padding: 30px;
    margin-left: 50px;
}
.section-1 .img-s1 img{
    height: 300px;
    
}
.section-1 .descrip{
	width: 50vw;
    padding: 30px;
}
.section-1 .descrip p{
    font-family: $bela;
    font-style: italic;
    font-size: 17px;
}
.section-2{
    @extend .section-1;
    background-color: $color-1;
}
.section-3{
    display: flex;
    width: 80vw;
    height: 430px;
}
.section-3 img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.section-3 img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.section-3 h3{
    
}